.body {
    background-color: rgb(241, 203, 208);
    margin: 0;
    padding: 0;
}

.greetings {
    text-align: center;
    padding: 20px;
    font-family: 'Briem Hand', cursive;
}

.bouquet {
    text-align: center;
    margin-top: 70px; 
}

.bouquet img {
    width: 300px; 
    height: auto;
    animation: float 4s infinite alternate;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
